.calculator-line{
  width: 100%;
  border-bottom: 2px solid black;
}

.calculator-span{
  margin-bottom: 30px;
  font-size: 14px;
}

.title-span{
  padding-right: 10px;
  margin: 0;
}

.select {
  position: relative;
  display: inline-block;
}

.select:after {
  background : url(../../dev/icon/arrow-down.png) no-repeat;
  content: "";
  padding: 0 8px;
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 26px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

.in-wrap{
  height: 80px;
}