.wrapper-partner{
  display: flex;
  flex-direction: column;
  height: 85vh;
  background-image: url(../../dev/img/AutoSl.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  //padding-left: 60px;
  //padding-right: 60px;

  .mask{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.25);
    padding-left: 165px;
    padding-top: 66px;
    height: 100%;
    padding-right: 165px;
    //background-color: transparent;

  }

  .wrapper-title{
    display: flex;
    align-items: center;
    width: 100%;
  }

  .title{
    font-weight: bold;
    color: #9EDEEB;
    font-size: 44px;
    font-family: 'Akzidez', sans-serif;
  }

  .line{
    width: 56%;
    border-bottom: 2px solid #9EDEEB;
    margin-left: 10px;
  }

  .content-wrapper{
    display: flex;
    margin-top: 30px;

    span{
      width: 30%;
      color: white;
      font-weight: bold;
      font-size: 16px;
      font-family: 'Open Sans blod',sans-serif;
    }
  }

  .link{
    width: 282px;
    color: #9EDEEB;
    border: 2px solid #9EDEEB;
    height: 60px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Open Sans blod',sans-serif;
    cursor: pointer;
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
  }

  .link:hover{
    background-color: #9EDEEB;
    color: black;
       -webkit-transition: background-color 500ms linear;
       -ms-transition: background-color 500ms linear;
       transition: background-color 500ms linear;
  }
}

@media (min-width: 790px) and (max-width: 1300px) {
  .wrapper-partner {
    .mask {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media (min-width: 320px) and (max-width: 790px) {
  .wrapper-partner{
    //padding: 20px 20px;
    height: auto;

    .mask{
      display: flex;
      flex-direction: column;
      padding: 30px 20px 30px 20px;
      background-color: rgba(0,0,0,0.25);

    }

    .title{
      width: 100%;
      font-weight: bold;
      font-size: 28px;
    }

    .line{
      display: none;
    }

    .content-wrapper{
      display: flex;
      margin-top: 30px;

      span{
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: 16px;
      }
    }

    .link{
     width: 100%;
    }
  }
}