.link-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact-link{
  font-weight: 700;
  font-size: 18px;
  font-family: 'Open Sans blod',sans-serif;
}

.contact-link:hover{
  opacity:  0.7;
}

.link-for-button{
  width: 100%;
  margin-bottom: 30px;
}



.burger-mobile{
  z-index: 4;
}


.initial{
  position: relative;
  background-color: transparent;
  transition: .5s all;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 100;
  transition: .5s all;
}


.stick{
  height: 100px;
  display: flex;
  width: 100%;
  transition: .5s all;
}

.fixed .fixed-inner {
  transition: .5s all;
  position: fixed;
  height: 60px;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}




.facebook-icon{
  background-image: url("../../dev/icon/fb.svg");
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.facebook-icon:hover{
  opacity: 0.7;
}

.instagram-icon{
  background-image: url("../../dev/icon/instagram.svg");
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.instagram-icon:hover{
  opacity: 0.7;
}


.sponsor-wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 40px;
  padding-bottom: 100px;

  .title{
    display: flex;

    span{
      color: white;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-family: 'Open Sans blod',sans-serif;
    }
  }

  .auction-wrapper{
    display: flex;
    margin-top: 20px;
    overflow: initial!important;

    .iaai{
      width: 70px;
      height: 42px;
      background-image: url("../../dev/icon/iaai.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 20px;
    }

    .copart{
      width: 127px;
      height: 48px;
      background-image: url("../../dev/icon/copart.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 20px;
    }

    .manheim{
      width: 196px;
      height: 48px;
      background-image: url("../../dev/icon/manheim.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .header-link{
      height: 58px;
    }
  }
}


.Menu-wrapper{
  width: 100%;

  .wrapper-link{
    width: 50%;
    display: flex;
    flex-direction: column;

    span{
      font-size: 16px;
      width: 70%;
    }
  }
  .wrapper-icon{
    display: none;
  }

}

.red-line{
  height: 4px;
  background-color: #FF0000;
  width: 100%;
}

@media (min-width: 790px) and (max-width: 1300px) {
  .sponsor-wrapper{
    padding-left:20px;
    padding-right:20px;
  }

}


@media (min-width: 320px) and (max-width: 790px) {

  .display-none{
    display: none!important;
  }


 .sponsor-wrapper{
   display: none;
 }

  .fixed .fixed-inner {
    transition: .5s all;
    position: fixed;
    height: 40px;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .Menu-wrapper{
    width: 100%;

    .wrapper-link{
      width: 100%;
      display: flex;
      flex-direction: column;

      span{
       display: none;
      }
    }
    .wrapper-icon{
      display: flex;
      width: 50%;
      justify-content: space-around;
      margin-top: 30px;

      .facebook-icon-mob{
        width: 28px;
        height: 28px;
        background-image: url("../../dev/icon/fb.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .instagram-icon-mob{
        width: 28px;
        height: 28px;
        background-image: url("../../dev/icon/instagram.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

}