a{
  text-decoration: none;
  color: white;
}

.salon-wrapper{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.credit-wrapper{
  width:100%;
  height:50%;
  overflow: hidden;
  position: relative;
}

.auction-wrapper{
  width:100%;
  height:50%;
  overflow: hidden;
  position: relative;
}

//.credit{
//  transition: all .5s;
//  cursor: pointer;
//}
//
//.credit div{
//  transition: all .5s;
//}
//
//
//
//.credit-wrapper:hover .credit,
//.credit-wrapper:focus .credit{
//  transform: scale(1.1);
//}
//
//.auction-wrapper:hover .credit,
//.auction-wrapper:focus .credit{
//  transform: scale(1.1);
//}
//
//.salon-wrapper:hover .credit,
//.salon-wrapper:focus .credit{
//  transform: scale(1.1);
//}
//
//.salon-wrapper:hover .credit div {
//  transform: scale(0.9);
//  transition: all .5s;
//}
//
//.credit-wrapper:hover .credit div{
//  transform: scale(1);
//  transition: all .5s;
//}
//
//.auction-wrapper:hover .credit div{
//  transform: scale(1);
//  transition: all .5s;
//}



.auction-mask{
  width:100%;
  height:auto;
  display:flex;
  justify-content:center;
  background-color: rgba(0,0,0,0.5);
}



.credit-mask{
  width:100%;
  height:auto;
  display:flex;
  justify-content:center;
  background-color: rgba(255,0,0, 0.5);
}

@media (min-width: 320px) and (max-width: 790px) {
  .auction-mask{
    width:100%;
    height:auto;
    display:flex;
    justify-content:flex-start;
    background-color: rgba(0,0,0,0.5);
  }

  .credit-mask{
    width:100%;
    height:auto;
    display:flex;
    justify-content:flex-start;
    background-color: rgba(255,0,0, 0.5);
  }

  .salon-wrapper{
    width: 100%;
    height: 42vh;
    overflow: hidden;
    position: relative;
  }

  .auction-wrapper{
    width:100%;
    height:38vh;
    overflow: hidden;
    position: relative;
  }

  .credit-wrapper{
    width:100%;
    height:40vh;
    overflow: hidden;
    position: relative;
  }
}