.line{
  width: 60%;
  border-bottom: 2px solid black;
  margin-left: 10px;
}

.title-stepWorks{
  display: flex;
  font-size: 44px;
  margin: 0;

  @media (min-width: 320px) and (max-width: 790px) {

    align-items: baseline;
    padding-left: 20px;
    padding-right: 0;
    font-size: 30px;
  }
}



.wrapper-line{
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;


  .small-line{
    width:11%;
    border: 1px solid white;
  }

  .big-line{
    width:50%;
    border: 1px solid white;
  }
}

@media (min-width: 790px) and (max-width: 1300px) {
  .wrapper-line {
    margin-bottom: 15px;

    .small-line {
      width: 1%;

    }

    .big-line {
      width: 45%;
      border: 1px solid white;
    }
  }
}

@media (min-width: 320px) and (max-width: 790px) {

  .line{
    width: 100%;
    border: 1px solid white;
    margin-top: 15px;
  }

  .wrapper-line {
    margin-bottom: 20px;
    .small-line {
      width: 3%;

    }

    .big-line {
      width: 3%;
      border: 1px solid white;
    }
  }
}