.company-inf{
  display: flex;
  padding-left:165px;
  padding-right:165px;
  width: 100%;
  flex-direction: column;

  .wrapper-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #DFD5D6;

    .title{
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000;
      font-weight: bold;
      font-family: 'Open Sans blod',sans-serif;
      font-size: 12px;
    }

    span{
      font-family: 'Open Sans blod',sans-serif;
      font-weight: bold;
      font-size: 12px;
    }
  }

  .inf{
    margin-top: 20px;

    span{
      font-weight: normal;
      font-size: 12px;
      line-height: 140%;
      padding-bottom: 140px;
    }
  }


}

@media (min-width: 790px) and (max-width: 1300px) {
 .company-inf{
   padding-left:20px;
   padding-right:20px;
 }
}

@media (min-width: 320px) and (max-width: 790px) {
  .company-inf {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    flex-direction: column;

    .wrapper-title {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      border-bottom: 2px solid #DFD5D6;

      .title{
        margin-top: 30px;
      }

      span{
        margin-top: 10px;
      }

    }

    .inf{
      margin-top: 20px;
      line-height: 140%;

      span{
        font-weight: normal;
        font-size: 12px;
        padding-bottom: 20px;
      }
    }
  }
}