
:root {
    --off-white: #fafafa;
}


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./dev/fonts/OpenSans/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Open Sans blod';
    font-style: normal;
    font-weight: 400;
    src: url('./dev/fonts/OpenSans/OpenSans-Bold.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Akzidez';
    font-style: normal;
    font-weight: 400;
    src: url('./dev/fonts/Webfont/akzidenzgroteskpro-boldex-webfont.ttf'); /* IE9 Compat Modes */
}

.App {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;

}


.fa-chevron-circle-down {
    color: white;
    opacity: 0.7;
    padding-bottom: 20%;
}

.bounce {
    display: inline-block;
    position: relative;
    animation: bounce 0.9s infinite linear;
}

@keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: -0.2em;
    }
    70% {
        top: -0.2em;
    }
    100% {
        top: 0;
    }
}


.section-content {
    max-width: 800px;
    margin: 0 auto;

}


.service {
    max-width: 800px;
    margin: 0 auto;
}

.serviceWrapper {
    height: 100vh;
    background-color: lightsalmon;
    display: flex;
}


.def {
    max-width: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-view-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    padding: 50px 0;
    justify-content: center;
    z-index: 5;
    overflow:scroll;
}

.modal-view-container.show {
    display: flex;
    flex-wrap: wrap;
}

.modal-view-container .modal-view-content {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 34%;
    height: 42%;
    margin: auto;
    justify-content: space-between;
}

.modal-view-container .modal-view-content .content-wrapper {
    margin: 0;
    box-shadow: none;
}




@media (min-width: 320px) and (max-width: 790px)  {
    .modal-view-container .modal-view-content {
        width: 88%;
        height: 60%;
        overflow: hidden;

    }

    @media (orientation: landscape) {
        .modal-view-container .modal-view-content {
            width: 88%;
            height: 86%;
            margin: 0;
        }
    }

}
    .fa-times {
        position: relative;
        right: 1%;
        top: 4%;
    }
    .wrapper-form {
        width: 115%;
        height: 80%;
    }
    @media (orientation: landscape) {
    .wrapper-form{
        width: 90%;
        height: 100%;
    }
}


.form_block {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 57px;
    padding-right: 11px;

}

.form_block h3 {
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    font-size: 25px;
    margin: 0;
    padding-bottom: 4%;
}

.form_block p {
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    color: #202021;


}

.form_block input {
    width: 100%;
    height: 40px;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 15px;
    padding-left: 2%;

}


#submit {
    background: #ED1C24;
    color: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-family: 'Circe', sans-serif;
    font-size: 12px;
    line-height: 130%;

    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
    cursor: pointer;
    border: none;
    outline: none;
}

.submit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8%;

}


.fa-check {
    font-size: 3em;
    color: #ED1C24;
}


.fa-times {
    position: absolute;
    top:7%;
    right: 11%;
    cursor: pointer;
    color: #ED1C24;
}


.linkMob {
    text-decoration: none;
    font-family: 'Akzidez', sans-serif;
    font-weight: normal;
    font-size: 34px;
    margin-bottom: 30px;
    margin-top: 50px;
    transition: .5s all;
    cursor: pointer;
}

.linkMob:hover{
    opacity: 0.7;
    transition: .5s all;
}

.MobMenu {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.autoValue {
    width: 78%;
    height: 40px;
    padding: 10px 20px 10px 20px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    background: #DFD5D6;
    border-radius: 2px;
    color: black;
    outline: none;

}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shrink {
    0% {
        width: 95%;
    }
    100% {
        width: 90%;
    }
}


.calc_modal_sum_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.calc_modal_submit {
    background: #ED1C24;
    color: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-family: 'Circe', sans-serif;
    font-size: 12px;
    line-height: 130%;
    cursor: pointer;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    border: none;
    outline: none;
}



#calc_modal_h3 {
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    font-size: 35px;
    margin: 25px 0;
    padding-bottom: 0;
}


.calc-modal-view-content {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 32%;
    height: 57%;
    margin: auto;
    justify-content: space-between;
}



@media (min-width: 320px) and (max-width: 790px) {

    .modal-view-container.show{
        padding: 0;
    }
    .form_block{
        padding-left: 12%;
        width: 66%;
        height: 0;
    }
    .fa-times:before{
        position: absolute;
        top: -2px;
        right: 0px;
    }
    #calc_modal_h3{
        font-size: 26px;
        margin-top: 30px;
        margin-left: -2px;
    }
    .calc-modal-view-content{
        width: 88%;
        height: 70%;

    }
    #calc_modal_close_button{
        padding-top: 5%;

    }

}



@media (min-width: 320px) and (max-width: 790px) {
    .burger{
        display: flex!important;
    }

    .MobMenu{
        background-color: black!important;
    }

    .linkMob{
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 24px;
    }

    .autoValue{
        width: 82%;
    }

}



