.map{
  height: 70% !important;
}

.title-wrapper{
  display: flex;
  width: 103%;
  align-items: center;
  margin-bottom: 30px;

  @media (min-width: 320px) and (max-width: 790px) {
    width: 94%;
  }
  .contact-line{
    width: 80%;
    border-bottom: 2px solid #DFD5D6;

    @media (min-width: 320px) and (max-width: 790px) {
      width: 43%;


    }
  }
}